.header {
    grid-area: header;
    background-color: #007bff;
    height: 100px;
}

.header img {
    width: 60px;
    height: 60px;
}

.authBlock{
    float: right;
    padding: 10px 25px;
}

.avatar {
    border: 3px solid #e2edef;
    object-fit: cover;
}
